body {
  background-color: whtie;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background: pink;
  height: 100vh;
}

.logoBox {
  background-color: beige;
  height: 100%;
}

.listBox {
  background-color: brown;
  height: 100%;
}

.settingBox {
  background-color: blueviolet;
  height: 100%;
}



/* Content */
.content {
  background-color: orange;
  height: 100vh;
}

.chat {
  background-color: aquamarine;
  height: 100%;
}

.userInput {
  background-color: aqua;
  height: 100%;
}

.messages {
  background-color: purple;
  height: 100%;
}

.suggested {
  background-color: teal;
  height: 100%;
}

.attach {
  background-color: yellow;
  height: 100%;
}

.type {
  background-color: burlywood;
  height: 100%;

}

.send {
  background-color: red;
  height: 100%;
}

.suggestion {
  background-color: greenyellow;
  height: 100%;
  border: 1px solid black;
}